---
layout: default
title: Home
comments: true
---

<div class="posts">
{% assign homepage = false %}
{% for node in site.notes %}
  {% if node.title != null and node.layout == "homepage" and node.sitemap != false %}
    {% assign homepage = true %}
    <h1 class="post-title">
    {{ node.title }}
    </h1>
    {{ node.content }}
  {% endif %}
{% endfor %}
{% if homepage == true %}
<hr /><br />
{% endif %}
  {% for post in paginator.posts %}
  <div class="post">

    <h2 class="post-title">
<!-- 
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
 -->
      {{ post.title }}
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
<div class="posts">
{% include counters.html %}
</div>