---
layout: default
title: Home
comments: true
---
<div class="posts">
{% assign homepage = false %}
{% for node in site.notes %}
  {% if node.title != null and node.layout == "homepage" and node.sitemap != false %}
    {% assign homepage = true %}
    <h1 class="post-title">
    {{ node.title }}
    </h1>
    {{ node.content }}
  {% endif %}
{% endfor %}
{% if homepage == true %}
<br />
<iframe src="https://ghbtns.com/github-btn.html?user={{ site.author.name }}&repo={{ site.author.repo }}&type=watch&count=true&size=small" allowtransparency="true" frameborder="0" scrolling="0" width="200px" height="20"> </iframe>
<iframe src="https://ghbtns.com/github-btn.html?user={{ site.author.name }}&repo={{ site.author.repo }}&type=fork&count=true&size=small" allowtransparency="true" frameborder="0" scrolling="0" width="200px" height="20"> </iframe>
<iframe src="https://ghbtns.com/github-btn.html?user={{ site.author.name }}&repo={{ site.author.repo }}&type=watch&count=true&size=small&v=2" allowtransparency="true" frameborder="0" scrolling="0" width="200px" height="20px"> </iframe>
<hr />
{% endif %}
{% assign post_counter = 0 %}
{% for node in site.posts %}
  {% if node.sitemap != false %}
    {% assign post_counter = post_counter | plus: 1 %}
  {% endif %}
{% endfor %}
{% if post_counter > 0 %}
<h2>
Site Update Notes
</h2>
<br />
  {% for post in paginator.posts %}
  <div class="post">

    <h3 class="post-title">
<!-- 
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
 -->
      {{ post.title }}
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endif %}
<div class="posts">
{% include counters.html %}
</div>
{% include document.html ispage='no' %}
