<div class="noprint">
{% if page.layout == "page" or page.layout == "note" %}
<hr />
<p class="sidebar-nav-item">
<a href="https://github.com/{{ site.author.name }}{{ site.baseurl }}/edit/{{ site.branch }}/{{ page.path }}" target = "_blank"><i class="iconside iconm-pencil2"></i> Edit this page</a>
 on GitHub.
</p>
<span class="post sidebar-nav-item"><i class="iconside iconm-blog"></i> Please, create a <a href="{{ site.author.url }}{{ site.baseurl }}/issues" target = "_blank">GitHub issue</a> to notify errors or suggestions. This is the most effective way to track problems.</span>
{% endif %}
{% if page.comments and page.sitemap != false and page.title != null %}
<!-- Add Disqus comments. -->
<hr />
<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = '{{ site.disqus_shortname }}';
  var disqus_identifier = "{{ site.disqusid }}{{ page.url | replace:'index.html','' }}";

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    dsq.setAttribute('data-timestamp', +new Date());
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
</div>
