{% assign page_counter = 0 %}
{% assign pages_list = site.pages | sort:"name" %}
{% for node in pages_list %}
  {% if node.title != null %}
    {% if node.layout == "page" %}
      {% if node.sitemap != "false" %}
        {% assign page_counter = page_counter | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign note_counter = 0 %}
{% for node in site.notes %}
  {% if node.title != null %}
    {% if node.layout == "note" %}
      {% if node.sitemap != "false" %}
        {% assign note_counter = note_counter | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign post_counter = 0 %}
{% for node in site.posts %}
  {% if node.ref != null %}
    {% if node.sitemap != "false" %}
    {% assign post_counter = post_counter | plus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign page_text = "" %}
{% if page_counter == 1 %}
  {% assign page_text = "1 document (page)" %}
{% endif %}
{% if page_counter > 1 %}
  {% assign page_text = page_counter | append: ' documents (pages)' %}
{% endif %}

{% assign note_text = "" %}
{% if note_counter == 1 %}
  {% assign note_text = ", 1 note" %}
{% endif %}
{% if note_counter > 1 %}
  {% assign note_text = ', ' | append: note_counter | append: ' notes' %}
{% endif %}

{% assign post_text = "" %}
{% if post_counter == 1 %}
  {% assign post_text = ", 1 update message (post)" %}
{% endif %}
{% if post_counter > 1 %}
  {% assign post_text = ' and ' | append: post_counter | append: ' update messages (posts)' %}
{% endif %}

<div class="related">
<span class="post"><a href="/osm-carto-tutorials/z_archive">Total of</a> {{ page_text }}{{ note_text }}{{ post_text }} in this site.</span>
</div>
