<base href="{{ site.baseurl }}{{ page.url }}" />
<div class="sticky"><nav id="toc"></nav>
</div>
<div><a class="toc-title" href="#">{{ page.title }}</a></div>
{% if include.ispage == "yes" %}
<div class="page">
  <h1 data-toc-skip class="page-title">{{ page.title }}</h1>
  <div class="post-date">
  Last modification: 
  <span id="last-page-mod">unknown</span>
  </div>
  {{ content | replace:'<div class="footnotes">','<hr />
<h2 id="footnotes">
Footnotes
</h2>
<div class="foot-notes">' }}
</div>
{% endif %}
<script>
$(function() {
	$('#last-page-mod').githubInfoWidget(
		{ user: '{{ site.author.name }}', repo: '{{ site.baseurl }}', branch: '{{ site.branch }}', path: '{{ page.path }}', nouser: true, nomsg: true, abstime: true, simple: 1, last: 1, limitMessageTo: 500 });
});
</script>
