<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title =="Home" %}checked{% endif %}>
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <gcse:searchbox-only></gcse:searchbox-only>
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">
<i class="iconside iconm-home"></i> Home
    </a>
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
    {% assign pages_list = site.pages | sort:"name" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          {% if node.sitemap != false %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">
<i class="iconside iconm-quill"></i> {{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    <span class="sidebar-nav-item">&copy; <a href="{{ site.author.url }}" target="_blank">{{ site.author.name }}</a> {{ site.time | date: '%Y' }} - v<span id="get-tag">ersion unknown</span> - {{ site.author.credits }}</span>
    <span class="sidebar-nav-item"><i class="iconside iconm-github2"></i> {{ site.author.github_sources }}</span>
    <span class="sidebar-nav-item"><i class="iconside iconm-blog"></i> <span title="Last GitHub commit message">Last modification</span><span id="last-site-mod"> unknown</span></span>
  </nav>
</div>
<script>
/* Get site update from Github */
$(function() {
	$('#last-site-mod').githubInfoWidget(
		{ user: '{{ site.author.name }}', repo: '{{ site.baseurl }}', branch: '{{ site.branch }}', nouser: true, nomsg: true, abstime: false, simple: 2, last: 1, limitMessageTo: 500 });
	$('#get-tag').githubWidgetTags(
		{ user: '{{ site.author.name }}', repo: '{{ site.baseurl }}' });
});
</script>