<!DOCTYPE html>
<html lang="en-us">
<!-- 
====================================================
Homepage: {{ site.url }}{{ site.baseurl }}
====================================================
-->
  {% include head.html %}

  <body data-spy="scroll" data-target="#toc">
    {% include chapters.html %}
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 data-toc-skip class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small> - {{ site.tagline }}</small>
            {% for page in site.pages_list %}
              &nbsp;&nbsp;&nbsp;
              <small><a href="{{ site.baseurl }}{{ page[1] }}">{{ page[0] }}</a></small>
            {% endfor %}
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
        {% include comments.html %}
        {% include google_analytics.html %}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        var sticky = document.querySelector('.sticky');

        document.addEventListener('touchstart', function(e) { // Automatically close the sidebar when tapping the page content
          var target = e.target;
          if((!checkbox.checked) ||
              sidebar.contains(target) ||
              target === toggle)
            return;
          checkbox.checked = false;
          sticky.visible = false;
        }, false);
        
        document.addEventListener('click', function(e) { // Automatically close the sidebar when clicking on the page content
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
          sticky.visible = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
