---
layout: default
---
<base href="{{ site.baseurl }}{{ page.url }}" />
<div class="sticky"><nav id="toc"></nav>
</div>
<script src="{{ site.baseurl }}/public/anchor.min.js"></script>
<div><a class="toc-title" href="#">{{ page.title }}</a></div>
<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
<script>
$(document).ready(function() {
  var elem = $('table.drawing td');
  $.each(elem, function() {
    if ( ( ( $(this).text().length < 2 ) && ( $(this).text().charCodeAt(0) > 150 ) ) ||
        ( ( $(this).text().length < 2 ) && ( $(this).text().charCodeAt(0) >255 ) ) )
      $(this).addClass("darrow")
    else
      $(this).addClass("dcontent");
  });
});
try {
  $(function() {
    var navSelector = '#toc';
    var $myNav = $(navSelector);
    Toc.init($myNav);
    $('body').scrollspy({
      target: navSelector,
      offset: 220
    });
  });
}
catch(e)
  {
  }
anchors.options = {
  placement: 'left',
};
anchors.add();
anchors.remove('.masthead-title');
anchors.remove('.sticky');
anchors.remove('.page-title');
</script>
