---
layout: default
---
<base href="{{ site.baseurl }}{{ page.url }}" />
<div class="sticky"><nav id="toc"></nav>
</div>
<script src="{{ site.baseurl }}/public/anchor.min.js"></script>
<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ page.date | date: '%B %d, %Y' }}
  {{ content }}
</div>
<script>
try {
  $(function() {
    var navSelector = '#toc';
    var $myNav = $(navSelector);
    Toc.init($myNav);
    $('body').scrollspy({
      target: navSelector,
      offset: 220
    });
  });
}
catch(e)
  {
  }
anchors.options = {
  placement: 'left',
};
anchors.add();
anchors.remove('.masthead-title');
anchors.remove('.sticky');
anchors.remove('.page-title');
</script>
